
html{
    scroll-behavior:smooth;
    
}

::-webkit-scrollbar{
    width: 4px;
    
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color:#696969;

}

.cabecalho{
    
    
    display:flex;
    justify-content:space-around;

    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    padding-left: 1%;
    
    position:fixed;

    font-family: "poppins", sans-serif;
    
    z-index: 5;

    transition: 0.4s;
       
}

.cabecalho-item{
    font-size: 17px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;

    
    
    

   
}

.cabecalho-item:hover {
    transform: scale(1.1);
    
    
    /* border-bottom: 1px solid black; */
    
    /* background: black;
    border-radius: 20px;
    color: white; */
    
}

.cabecalho-item-move{
    border: none;
}


.cabecalho-item-move:hover{
    color:#47715d;
    
}

.cabecalho-ativo{
    color:#47715d;  
}

.cabecalho-move{
    border-bottom: solid 1px black;
    background: white;
}



.main{
    /* background-color: #76BA99;
    opacity: 1;
    background-image:  radial-gradient(#ffffff 2px, transparent 2px), radial-gradient(#ffffff 2px, #76BA99 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px; */
    
  background-image: url(img/main-background.jpg);
  background-size: cover;
  background-repeat:no-repeat;

}



.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
   
}



.titulo-principal{
    /* background: #76BA99; */
    color: white;
    font-size: 9em;
    font-family: 'Alex Brush', cursive;
    padding-top: 210px;
    

}

.titulo-principal::selection{
    background: transparent;
}


.referencias{
    
    background: rgb(238, 243, 241);
    color: black;
    min-height: 100vh;

   
   
}

.fa-solid{
    font-size: 30px;
}

.fa-address-book{
    transform: scaleX(-1);
}

.texto-referencias{
    font-size: 5em;
    font-family: 'Alex Brush', cursive;
   
}

.onde{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.texto-quem{
    padding: 10px;
}

.referencias p{
    padding: 10px;
    font-size: 24px;
    font-family: "poppins", sans-serif;
}



.underline{
    width: 80px;
    border-bottom: 3px solid black;
    
    
}

.quando-quem{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    
}

.quando{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 150px;
   
}

.quem{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px 150px;
}

.texto-quando{
   padding: 10px;
}

.texto-onde{
    padding: 10px;
}

.link{
  
    text-decoration: none;

    border: 1px solid black;
    border-radius: 50%;

    padding: 20px 40px;
    margin-top: 10px;


    color: white;
    background: black;

    font-family: "poppins", sans-serif;

    transition: 0.6s;

}

.link:hover{
   transform: scale(1.05);
   
}

.nossa-historia{
    
    background: white;
    color: black;
    position: relative;
    
   
}

 
  
.nossa-historia .titulo-principal{
      font-size: 3.5em;
      font-family: 'Alex Brush', cursive;
      color: black;
      text-align: center;
      font-weight: 200;
      padding-top: 2em;
      padding-bottom: 2em;
      text-transform: none ;
      background: white;
      
}

.timeline-icon-cima{
    width: 10px;
    height: 10px;
    background: #76BA99;
    
    border: 5px solid #eeeeee;
    border-radius: 50%;
    position: absolute;
    left: 49.4%;
    
    top: 12%;
    z-index: 2;
}

.box-nossa-historia-1{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
    text-align: center;
    

  

}


.box-imagem-esquerda{
    
    display: flex;
    justify-content: center;

    width: 266px;
    height: 200px;
    border-radius: 10px;

    overflow: hidden;

   
    
   
}

.box-imagem-esquerda:hover img{
    transform: scale(1.2) ;
    
}

.box-imagem-direita{
    display: flex;
    justify-content: center;

    width: 266px;
    height: 200px;
    border-radius: 10px;

    overflow: hidden;
    
}

.box-imagem-direita:hover img{
    transform: scale(1.2) ;
    
}


.nossa-historia img{
    transition: 1s;
}

.background-timeline-icones{
   
    align-self: center;
    justify-self: center;
    background: #eeeeee;
    transition: 0.8s ;
    border: 10px solid #eeeeee;
    border-radius: 50%;
    z-index: 2;
    
    
}


.background-timeline-icones:hover{
     transform: rotateY(360deg) scale(1.2);
}



.descricao-direita{
    width: 266px;
    display: flex;
    flex-direction: column;
    text-align: start;
    
}


.descricao-esquerda{
    width: 266px;
    display: flex;
    flex-direction: column;
    text-align: start;
    
    
    align-items:flex-start;
    
}



.descricao-direita h3, .descricao-esquerda h3{
    font-family: 'Alex Brush', cursive;
    font-size: 2.5em;
    padding-bottom: 10px;
}

.texto{
    padding-bottom: 2em;
    font-family: "poppins", sans-serif;
    font-size: 0.90em;
    


}

.data{
    color: #76BA99;
}

.box-nossa-historia-2{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
  

}
.box-nossa-historia-3{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
  

}
.box-nossa-historia-4{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
  

}
.box-nossa-historia-5{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
  

}

.timeline{
    background: #eeeeee;
    height: 96.5vw;
    
    border: 2px solid transparent;
    position: absolute;
    left: 49.9%;
    top: 13%;
    z-index: 1;
}

.timeline-icon-baixo{
    width: 10px;
    height: 10px;
    background: #76BA99;
    
    border: 5px solid #eeeeee;
    border-radius: 50%;
    position: absolute;
    left: 49.4%;
    bottom: 3%;
    z-index: 2;
}

.padrinhos{
    height: 100vh;
    background: rgb(238, 243, 241) ;
    
}

.padrinhos .titulo-principal{
    font-size: 3.5em;
    font-family: 'Alex Brush', cursive;
    color: black;
    text-align: center;
    font-weight: 200;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: none ;
    
}

.slides{
    height: 60vh;
    border: 2px solid black;
    width: 60vw;
    margin: auto;

    display: flex;
    align-items: center;

    overflow: hidden;

   
}



.divisao-padrinhos-duplo{
    display: flex;
    width: 40vw;
    justify-content: space-around;
    height: 20vh;
    margin: auto;
    

}



.divisao-padrinhos-triplo{
    display: flex;
    width: 60vw;
    justify-content: space-around;
    height: 20vh;
    margin: auto;
}

.box-padrinhos{
    

    margin: 10px;

    border: 3px solid black;
    border-radius: 50%;

    width: 150px;
    height: 150px;

    position: relative;

    overflow: hidden;

    background-color: black;

    object-fit: cover;
}


.box-padrinhos img{
    transform: scale(1.0);
    transition: 0.2s;
    
   
}

.box-padrinhos img:hover{
    -webkit-filter: grayscale(1);
    filter: (1);
    
}


.oculto{
    display: none;
}




.swiper {
    width: 50%;
    height: 50%;
    color: #76BA99;
  }


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(238, 243, 241);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

.swiper-button-next:after, .swiper-button-prev:after{
    color: black;
  }

.swiper-slide{
    display: block;
  }

.swiper-padrinhos-cima{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;

  }

.swiper-padrinhos-baixo{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;

  }

.swiper-pagination{
    display: none;
  }

.rodape{   
    /* background: #FFDCAE;  */
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.nota-rodape{
  
    color: black;
    font-weight: bold;
    font-size: 20px;

    padding-top: 200px;
    padding-bottom: 20px;
    
}



