
html{
    scroll-behavior:smooth;
    
}

::-webkit-scrollbar{
    width: 4px;
    
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color:#696969;

}

.cabecalho{
    
    
    display: flex;
    justify-content:space-around;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    position:absolute;
    font-family: "poppins", sans-serif;
       
}

.cabecalho-item{
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;

   
}

.cabecalho-item:hover {
    transform: scale(1.1);
    background: white;
    border-radius: 20px;
    color: #2F4F4F;
    

   
}



.main{
    background-color: #76BA99;
    opacity: 1;
    background-image:  radial-gradient(#ffffff 2px, transparent 2px), radial-gradient(#ffffff 2px, #76BA99 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    
  
   
}



.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
   
}



.titulo-principal{
    background: #76BA99;
    color: white;
    font-size: 9em;
    font-family: 'Alex Brush', cursive;
    

}



.fa-solid{
    font-size: 30px;
}

.fa-address-book{
    transform: scaleX(-1);
}

.referencias{
    
    background: white;
    color: black;
    min-height: 100vh;

   
   
}

.texto-referencias{
    font-size: 5em;
    font-family: 'Alex Brush', cursive;
   
}

.quem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.texto-quem{
    padding: 10px;
}

.referencias p{
    padding: 10px;
    font-size: 24px;
    font-family: "poppins", sans-serif;
}



.underline{
    width: 80px;
    border-bottom: 3px solid black;
    
    
}

.quando-onde{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    
}

.quando{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 150px;
   
}

.onde{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 150px;
}

.texto-quando{
   padding: 10px;
}

.texto-onde{
    padding: 10px;
}

.nossa-historia{
    
    background: white;
    color: black;
    position: relative;
    
   
}

 
  
.nossa-historia .titulo-principal{
      font-size: 3.5em;
      font-family: 'Alex Brush', cursive;
      color: black;
      text-align: center;
      font-weight: 200;
      padding-top: 2em;
      padding-bottom: 2em;
      text-transform: none ;
      background: white;
      
}

.timeline-icon-cima{
    width: 10px;
    height: 10px;
    background: #76BA99;
    
    border: 5px solid #eeeeee;
    border-radius: 50%;
    position: absolute;
    left: 49.4%;
    
    top: 12%;
    z-index: 2;
}

.box-nossa-historia-1{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
    text-align: center;
    

  

}


.box-imagem-esquerda{
    
    display: flex;
    justify-content: center;

    width: 266px;
    height: 200px;
    border-radius: 10px;

    overflow: hidden;

   
    
   
}

.box-imagem-esquerda:hover img{
    transform: scale(1.2) ;
    
}

.box-imagem-direita{
    display: flex;
    justify-content: center;

    width: 266px;
    height: 200px;
    border-radius: 10px;

    overflow: hidden;
    
}

.box-imagem-direita:hover img{
    transform: scale(1.2) ;
    
}


.nossa-historia img{
    transition: 1s;
}

.background-timeline-icones{
   
    align-self: center;
    justify-self: center;
    background: #eeeeee;
    transition: 0.8s ;
    border: 10px solid #eeeeee;
    border-radius: 50%;
    z-index: 2;
    
    
}


.background-timeline-icones:hover{
     transform: rotateY(360deg) scale(1.2);
}



.descricao-direita{
    width: 266px;
    display: flex;
    flex-direction: column;
    text-align: start;
    
}


.descricao-esquerda{
    width: 266px;
    display: flex;
    flex-direction: column;
    text-align: start;
    
    
    align-items:flex-start;
    
}



.descricao-direita h3, .descricao-esquerda h3{
    font-family: 'Alex Brush', cursive;
    font-size: 2.5em;
    padding-bottom: 10px;
}

.texto{
    padding-bottom: 2em;
    font-family: "poppins", sans-serif;
    font-size: 0.90em;
    


}

.data{
    color: #76BA99;
}

.box-nossa-historia-2{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
  

}
.box-nossa-historia-3{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
  

}
.box-nossa-historia-4{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
  

}
.box-nossa-historia-5{
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
    justify-content: space-around;
  

}

.timeline{
    background: #eeeeee;
    height: 96.5vw;
    
    border: 2px solid transparent;
    position: absolute;
    left: 49.9%;
    top: 13%;
    z-index: 1;
}

.timeline-icon-baixo{
    width: 10px;
    height: 10px;
    background: #76BA99;
    
    border: 5px solid #eeeeee;
    border-radius: 50%;
    position: absolute;
    left: 49.4%;
    bottom: 3%;
    z-index: 2;
}

.padrinhos{
    
}

.padrinhos .titulo-principal{
font-size: 3.5em;
font-family: 'Alex Brush', cursive;
color: black;
text-align: center;
font-weight: 200;
padding-top: 2em;
padding-bottom: 2em;
text-transform: none ;
background: white;
}

.divisao-padrinhos-duplo{
    display: flex;
    width: 60vw;
    justify-content: space-around;
    height: 20vh;
    margin: auto;
    

}

.divisao-padrinhos-triplo{
    display: flex;
    width: 80vw;
    justify-content: space-around;
    height: 20vh;
    margin: auto;
}

.box-padrinhos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 50%;

    height: 100px;
    width: 100px;




}

   /*   
   
  

  
.timeline{
      
      position: absolute;
      width: 80vw;
      left: 11.5vw;
      background: #eeeeee;
      height: 3px;
      
}
  
.nossa-historia h3{
      font-family: 'Alex Brush', cursive;
      font-size: 30px;
      font-weight: 400;
      padding: 10px;
     
    
}
  
.container-nossa-historia{
      display: flex;
      height: 85%;
      align-items: center;
      margin: auto; 
      position: relative;
        
}

  




.span-cima-timeline{
    order: 5;
    padding-top: 2em;
}



.background-timeline-icones{
    background: #eeeeee;
    position: absolute;
    top: 45.5%;
    padding: 10px;
    border-radius: 50%;
    
    transition: 0.8s ;
    

}

.background-timeline-icones:hover{
     transform: rotateY(360deg) scale(1.2);
}




.box-nossa-historia-2{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      text-align: center;
      
}

.span-baixo-timeline{
    order: -1;
}


  
.box-nossa-historia-3{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-start;
      text-align: center;
      
}
  
.box-nossa-historia-3 h3{
      display: flex;
      align-items: center;
}
  

.box-nossa-historia-4{
     display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      text-align: center;
     
}
  
 .box-nossa-historia-5{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-start;
      text-align: center;
      
      
} 
  
.box-imagem{
      display: flex;
      justify-content: center;
      border: 4px solid transparent;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      overflow: hidden;  
}
  
.nossa-historia img{
      transition: 1s;
}
  
 
  
  
.box-imagem:hover img{
     transform: scale(1.2) ;
     
}
   
   */



.rodape{   
    /* background: #FFDCAE;  */
    display: flex;
    justify-content: center;
}

.nota-rodape{
  
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    
}

